body{
    text-align: center;
    background-color: aqua;
}
#list{
 float: left;
    list-style: none;
    z-index: 10;
}  
li{
    float: left;
    margin: 10px;
    font-size: 15px;
}
iframe{
    width: 1080px;
    height:500;
}
.t{
    background-color: white;
    font-size: 18px;
}
 